<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>我的流程单
    <small>我提交的流程单</small>
  </h1>
  <ol class="breadcrumb">
    <li ui-sref="dashboard"><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">My FlowData</li>
  </ol>
</section>

<!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-header">
          <h3 class="box-title">流程单</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
			<table id="flow-list" class="table table-bordered table-striped">
               <thead>
               <tr>
                   <th>流程单号</th>
                   <th>创建时间</th>
                   <th>流程类型</th>
                   <th>状态</th>
                   <th>内容</th>
                   <th>操作</th>
               </tr>
               </thead>
               <tbody>
               <tr ng-repeat="x in ctrl.list" repeat-finish="ctrl.table()">
                   <td>{{x.flowNum}}</td>
                   <td>{{x.createDate}}</td>
                   <td>{{x.flowType}}</td>
                   <td>{{x.taskName}}</td>
                   <td>{{x.content}}</td>
                   <td>
                     <a href="javascript:void(0)" ui-sref="flow.detail({id:x.id, audit:0})">查看</a>
                     <a href="javascript:void(0)" ng-if="x.checkApproved === false" ui-sref="flow.reSubmit({id:x.id})">重提</a>
                   </td>
               </tr>
               </tbody>
               <tfoot>
               <tr>
                   <th>流程单号</th>
                   <th>创建时间</th>
                   <th>流程类型</th>
                   <th>状态</th>
                   <th>内容</th>
                   <th>操作</th>
               </tr>
               </tfoot>
           </table>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->
</section>
<!-- /.content -->



	
	<div modal open="ctrl.modal.open" title="{{ctrl.modal.title}}" when-confirm="ctrl.modal.whenConfirm()" type="{{ctrl.modal.type}}">
	    <div class="box box-widget">
            <div class="box-header with-border">
              <div class="user-block">
                <img class="img-circle" ng-src="{{ctrl.detail.applicationForm.applicant.iconSrc}}" alt="User Image">
                <span class="username"><a href="#">{{ctrl.detail.applicationForm.applicant.email}}</a></span>
                <span class="description">{{ctrl.detail.applicationForm.createDate}}</span>
              </div>
              <!-- /.user-block -->
              <div class="box-tools">
                <button type="button" class="btn btn-box-tool" data-toggle="tooltip" title="Mark as read">
                  <i class="fa fa-circle-o"></i></button>
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <!-- <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button> -->
              </div>
              <!-- /.box-tools -->
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <!-- post text -->
              
              <p>{{ctrl.detail.applicationForm.description}}</p>

            </div>
            <!-- /.box-body -->
            <div class="box-footer box-comments">
              <div class="box-comment">
                <!-- User image -->
                <img class="img-circle img-sm" ng-src="{{ctrl.detail.handler.iconSrc}}" alt="User Image">

                <div class="comment-text">
                      <span class="username">
                        {{ctrl.detail.handler.email}}
                        <span class="text-muted pull-right">{{ctrl.detail.createDate}}</span>
                        <span class="label" ng-class="{'label-primary': x.status == 'REQUEST', 'label-warning' : x.status == 'PROCESSING', 'label-danger' : x.status == 'REJECT', 'label-success' : x.status == 'COMPLETION'}">{{ctrl.statusMap[x.status]}}</span>
                      </span><!-- /.username -->
                  {{ctrl.detail.cause}}
                </div>
                <!-- /.comment-text -->
              </div>
              <!-- /.box-comment -->
            </div>
            <!-- /.box-footer -->
            <div class="box-footer">
            </div>
            <!-- /.box-footer -->
          </div>
	    <!-- /.box-body -->
	</div>
