<section class="content-header">
  <h1>
            用户详情
    <small>查看用户详情</small>
  </h1>
  <ol class="breadcrumb">
    <li ui-sref="dashboard"><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
    <li ui-sref="employee.list"><a href="#">Employee List</a></li>
    <li class="active">detail</li>
  </ol>
</section>
<!-- Main content -->
<section class="content">
	<div class="row">
	  <div class="box">
	    <div class="box-header">
	      <form class="box box-danger form-group image" upload upload-to="resource/icon" when-done="ctrl.whenDone()">
	        <div class="box-body no-padding">
	        	<div class="col-md-2">
			        <img style="height: 90px;width: 90px;" ng-src="{{ctrl.detail.image && ctrl.detail.image.src}}" class="img-circle" alt="User Image">
			        <a class="users-list-name" href="#">{{ctrl.detail.email}}</a>
			        <span class="users-list-date">{{ctrl.detail.createDate | date}}</span>
	        	</div>
	        	<div class="col-md-4">
	        		<div class="form-group">
	                  <label for="exampleInputFile">浏览</label>
	                  <input type="file" name="icon" class="btn">
	                  <p class="help-block">选择你的头像</p>
	                </div>
			        <input type="hidden" name="id" value="{{ctrl.detail.id}}">
			        <div class="form-group">
				        <input type="submit" id="submit-file" class="btn btn-primary" value="上传头像" disabled="disabled">
			        </div>
	        	</div>
	        </div>
	      </form>
	    </div>
	    <div class="box-body">
	    
			<table id="flow-list" class="table table-bordered table-striped">
               <tbody>
               <tr>
                   <td>员工号</td>
                   <td>{{ctrl.detail.empNum}}</td>
                   <td>邮箱</td>
                   <td>{{ctrl.detail.email}}</td>
               </tr>
               <tr>
                   <td>姓名</td>
                   <td>{{ctrl.detail.name}}</td>
                   <td>昵称</td>
                   <td>{{ctrl.detail.nickname}}</td>
               </tr>
               <tr>
                   <td>电话</td>
                   <td>{{ctrl.detail.telephone}}</td>
                   <td>手机</td>
                   <td>{{ctrl.detail.cellPhone}}</td>
               </tr>
               <tr>
                   <td>创建时间</td>
                   <td>{{ctrl.detail.createDate}}</td>
                   <td>最后登录</td>
                   <td>{{ctrl.detail.lastLogin}}</td>
               </tr>
               <tr>
               	   <td>年龄</td>
                   <td>{{ctrl.detail.age}}</td>
                   <td>性别</td>
                   <td>{{ctrl.dictionary[ctrl.detail.gender]}}</td>
               </tr>
               <tr>
                   <td>职位</td>
                   <td>{{ctrl.detail.post}}</td>
                   <td>部门</td>
                   <td>{{ctrl.detail.department && ctrl.detail.department.description}}</td>
               </tr>
               <tr>
                   <td>是否启用</td>
                   <td>{{ctrl.detail.enabled | boolToString}}</td>
                   <td>角色</td>
                   <td>{{ctrl.detail.roles | rolepipe}}</td>
               </tr>
               <tr>
                   <td>账号有效</td>
                   <td>{{ctrl.detail.accountNonExpired | boolToString}}</td>
                   <td>密码有效</td>
                   <td>{{ctrl.detail.credentialsNonExpired | boolToString}}</td>
               </tr>
               <tr>
                   <td>描述</td>
                   <td colspan="3">{{ctrl.detail.description}}</td>
               </tr>
               </tbody>
           </table>
	    
	    </div>
	    <!-- /.box-body -->
	    <div class="box-footer clearfix">
	      <button type="button" class="btn btn-default pull-left margin" ui-sref="employee.list">{{'btn-back' | translate}}</button>
	      <button type="button" class="btn btn-primary pull-left margin" ui-sref="employee.edit({id:ctrl.detail.id})" ng-if="ctrl.editable()">编辑</button>
	      <button type="button" class="btn btn-primary pull-left margin" ng-click="ctrl.openModal()" ng-if="ctrl.editable() && hasAuthority('employee_role')">角色</button>
	      <button type="button" class="btn btn-primary pull-left margin" ui-sref="employee.audit.list({id:ctrl.detail.id})" ng-if="hasAuthority('employee')">审计</button>
	    </div>
	  </div>
	  <!-- /.box -->
	</div>
</section>

<div modal open="ctrl.modal.open" title="{{ctrl.modal.title}}" when-confirm="ctrl.modal.whenConfirm()" type="{{ctrl.modal.type}}">
  <form role="form" name="f">
    <div class="box-body">
      <div class="form-group">
        <label>用户名</label>
        <input type="text" placeholder="name" class="form-control" value="{{ctrl.detail.name}}" disabled="disabled">
      </div>
      <div class="form-group">
        <div class="checkbox" ng-repeat="x in ctrl.roles | orderBy:x.name">
		  <label>
		    <input type="checkbox" value="{{x.name}}" ng-model="x.selected" ng-true-value="true" ng-false-value="false">
		    {{$index + 1}}
		    {{x.description}}
		  </label>
		</div>
      </div>
    </div>
    <!-- /.box-body -->
  </form>
</div>