<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>新增平台账号
    <small>Preview</small>
  </h1>
  <ol class="breadcrumb">
    <li ui-sref="dashboard"><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
    <li ui-sref="employee.list"><a href="#">Employee List</a></li>
    <li class="active">新增平台账号</li>
  </ol>
</section>
<!-- Main content -->
<section class="content">
  <div class="row">
	  <form role="form" name="addUserform">
	    <div class="box-body">
	      <div class="row">
	        <div class="col-md-6">
	          <div class="form-group has-feedback" ng-class="{'has-success':addUserform.name.$valid,'has-warning':addUserform.name.$error.required,'has-error':addUserform.name.$error.minlength}">
		        <label for="">姓名</label>
		        <input type="text" placeholder="name" name="name" class="form-control" ng-model="ctrl.form.name" required="required">
		        <span class="glyphicon form-control-feedback" ng-class="{'glyphicon-ok':addUserform.name.$valid,'glyphicon-warning-sign':addUserform.name.$error.required,'glyphicon-remove':addUserform.name.$error.minlength}"></span>
			    <span ng-show="addUserform.name.$error.required">
				This is a required field
				</span>
				<span ng-show="addUserform.name.$error.minlength">
				Minimum length required is 6
				</span>
				<span ng-show="addUserform.name.$invalid">
				This field is invalid
				</span>
		        <span class="glyphicon glyphicon-ok form-control-feedback"></span>
		      </div>
		      <div class="form-group has-feedback" ng-class="{'has-success':addUserform.email.$valid,'has-warning':addUserform.email.$error.required,'has-error':addUserform.email.$invalid || addUserform.email.$error.notexist}">
		        <label for="">邮箱</label>
		        <input asynvalidation local="employee/exist?cellPhoneOrEmail=" result="ctrl.emailValidation(exist)" type="email" placeholder="email" name="email" class="form-control" ng-model="ctrl.form.email" required="required">
		        <span class="glyphicon glyphicon-ok form-control-feedback" ng-class="{'glyphicon-ok':addUserform.email.$valid,'glyphicon-warning-sign':addUserform.email.$error.required,'glyphicon-remove':addUserform.email.$invalid || addUserform.email.$error.notexist}"></span>
		      	<span ng-show="addUserform.email.$error.required">
				This is a required field
				</span>
				<span ng-show="addUserform.email.$invalid">
				This field is invalid
				</span>
				<span ng-show="addUserform.email.$error.notexist">
				This field is exist
				</span>
		      </div>
		      <div class="form-group has-feedback" ng-class="{'has-success':addUserform.password.$valid,'has-warning':addUserform.password.$error.required,'has-error':addUserform.password.$error.minlength}">
		        <label for="">输入密码</label>
		        <input type="password" placeholder="password min 6" name="password" class="form-control" ng-model="ctrl.form.password" required="required" ng-minlength="6">
		      	<span class="glyphicon form-control-feedback" ng-class="{'glyphicon-ok':addUserform.password.$valid,'glyphicon-warning-sign':addUserform.password.$error.required,'glyphicon-remove':addUserform.password.$error.minlength}"></span>
			    <span ng-show="addUserform.password.$error.required">
				This is a required field
				</span>
				<span ng-show="addUserform.password.$error.minlength">
				Minimum length required is 6
				</span>
				<span ng-show="addUserform.password.$invalid">
				This field is invalid
				</span>
		      </div>
		      <div class="form-group has-feedback" ng-class="{'has-success':addUserform.confirmPassword.$valid,'has-warning':addUserform.confirmPassword.$error.required,'has-error':addUserform.confirmPassword.$error.minlength || ctrl.form.password != ctrl.form.confirmPassword}">
		        <label for="">确认密码</label>
		        <input type="password" placeholder="password min 6" name="confirmPassword" class="form-control" ng-model="ctrl.form.confirmPassword" required="required" ng-minlength="6">
		      	<span class="glyphicon form-control-feedback" ng-class="{'glyphicon-ok':addUserform.confirmPassword.$valid && ctrl.form.password == ctrl.form.confirmPassword,'glyphicon-warning-sign':addUserform.password.$error.required || ctrl.form.password != ctrl.form.confirmPassword,'glyphicon-remove':addUserform.confirmPassword.$error.minlength}"></span>
			    <span ng-show="ctrl.form.password != ctrl.form.confirmPassword">
				确认密码不匹配
				</span>
			    <span ng-show="addUserform.confirmPassword.$error.required">
				This is a required field
				</span>
				<span ng-show="addUserform.confirmPassword.$error.minlength">
				Minimum length required is 6
				</span>
				<span ng-show="addUserform.confirmPassword.$invalid">
				This field is invalid
				</span>
		      </div>
		      <div class="form-group">
		        <label for="">生日</label>
		        <input type="text" placeholder="birthday" class="form-control" name="birthday" datepicker ng-model="ctrl.form.date">
		      </div>
	        </div>
	        
	        <div class="col-md-6">
    		  <div class="form-group">
		        <label for="">昵称</label>
		        <input type="text" placeholder="nickname" class="form-control" name="nickname" ng-model="ctrl.form.nickname">
		      </div>
		      <div class="form-group">
		        <label for="">联系电话</label>
		        <input type="tel" placeholder="telephone" class="form-control" name="telephone" ng-model="ctrl.form.telephone">
		      </div>
		      <div class="form-group has-feedback" ng-class="{'has-success':addUserform.cellPhone.$valid,'has-warning':addUserform.cellPhone.$error.pattern,'has-error':addUserform.cellPhone.$error.notexist}">
		        <label for="">手机</label>
		        <input asynvalidation local="employee/exist?cellPhoneOrEmail=" result="ctrl.cellPhoneValidation(exist)" type="text" placeholder="cellPhone" class="form-control" name="cellPhone" ng-model="ctrl.form.cellPhone" pattern="^1[0-9]{10}$"/>
		      	<span class="glyphicon form-control-feedback" ng-class="{'glyphicon-ok':addUserform.cellPhone.$valid,'glyphicon-warning-sign':addUserform.cellPhone.$error.pattern,'glyphicon-remove':addUserform.cellPhone.$error.notexist}"></span>
			    <span ng-show="addUserform.cellPhone.$error.notexist">
				This field is exist
				</span>
		      	<span ng-show="addUserform.cellPhone.$error.pattern">
				This field is invalid
				</span>
		      </div>
		      <div class="form-group has-feedback"  ng-class="{'has-success':addUserform.post.$valid,'has-warning':addUserform.post.$error.required,'has-error':addUserform.post.$error.minlength}">
		        <label for="">岗位</label>
		        <input type="text" placeholder="岗位" name="post" class="form-control" ng-model="ctrl.form.post" required="required">
     		    <span class="glyphicon form-control-feedback" ng-class="{'glyphicon-ok':addUserform.post.$valid,'glyphicon-warning-sign':addUserform.post.$error.required,'glyphicon-remove':addUserform.post.$error.minlength}"></span>
			    <span ng-show="addUserform.post.$error.required">
				This is a required field
				</span>
				<span ng-show="addUserform.post.$error.minlength">
				Minimum length required is 6
				</span>
				<span ng-show="addUserform.post.$invalid">
				This field is invalid
				</span>
		      </div>
		      <div class="form-group">
		        <label for="">部门</label>
		        <select class="form-control select2" style="width: 100%;" select2 ng-model="ctrl.form.department.name">
			      <option value="">请选择</option>
			      <option value="生产部">生产部</option>
			      <option value="质量部">质量部</option>
			    </select>
		      </div>
		      <div class="form-group">
		        <label>描述</label>
		        <textarea rows="3" type="text" placeholder="description" class="form-control" name="description" ng-model="ctrl.form.description" ng-maxlength="300"></textarea>
		      </div>
	        </div>
	        <div class="col-md-12">
			  <button type="submit" ng-disabled="addUserform.$invalid || ctrl.form.password != ctrl.form.confirmPassword" ng-click="ctrl.submit()" class="btn btn-primary pull-right" style="margin-top: 18px;">
	            <i class="fa fa-plus"></i> 提交
	          </button>
	        </div>
	      </div>
	    </div>
	    <!-- /.box-body -->
	  </form>
  
  </div>
  <!-- /.row -->
</section>
<!-- /.content -->